@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  @apply bg-gray-50 dark:bg-gray-900 text-white;
}

/* Write your own custom component styles here */
.btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.h4 {
}

.container__map {
  padding: 2rem 6rem 2rem 2rem;

  @apply border rounded-2xl;
}

.container__focusCards {
  display: flex;
  padding: 2rem;

  @apply border rounded-2xl;
}

.container__activeFocusCard {
  padding: 2rem;

  @apply border rounded-2xl;
}

.box__focusCard {
  padding: 1rem;
  @apply border rounded-2xl;
}

/* water */
.title_0 {
  background-color: #1111ff;
}

/* field */
.title_1 {
  background-color: #54ea2a;
}

/* mud */
.title_2 {
  background-color: #723c18;
}

/* wood */
.title_3 {
  background-color: #15400a;
}

/* sand */
.title_4 {
  background-color: #ea9d3e;
}

/* mountain */
.title_5 {
  background-color: #33333b;
}

:root {
  /* Change this to change the appearance of the hexaons */
  --hex-width: 100px;
  --hex-between: 6px;
  --hex-size: 10; /*hexagons in a row*/

  /* Other hexagon dimentions */
  --hex-height: calc(var(--hex-width) / 1.73 /* sqrt(3) */);
  --hex-margin: calc(var(--hex-width) / 2);
  --hex-border: calc(var(--hex-margin) / 1.73 /* sqrt(3) */);
  --hex-transition: all 0.2s ease;

  /* Colors */
  --color-hex-default: #000000;
  --color-hex-hover: #ffffff;
  --color-tile-water: #1572b6;
  --color-tile-filed: #99cc66;
  --color-tile-mud: #dd0031;
  --color-tile-wood: #214c39;
  --color-tile-sand: #f7df1e;
  --color-tile-mountain: #343434;
}

/* Hexagons */
.hexagon-container {
  display: grid;
  grid-template-columns: repeat(var(--hex-size), var(--hex-width));
  grid-auto-rows: calc(var(--hex-width) - 28.87px / 2);
  grid-gap: var(--hex-between) var(--hex-between);
  padding-bottom: var(--hex-border);
}

.hexagon {
  align-items: center;
  background-color: var(--color-hex-default);
  cursor: pointer;
  display: flex;
  fill: white;
  height: var(--hex-height);
  justify-content: center;
  margin: var(--hex-border) 0;
  position: relative;
  transition: var(--hex-transition);
  width: var(--hex-width);
  font-size: 2rem;
}

.hexagon::after,
.hexagon::before {
  border-left: var(--hex-margin) solid transparent;
  border-right: var(--hex-margin) solid transparent;
  content: '';
  left: 0;
  position: absolute;
  transition: var(--hex-transition);
  width: 0;
}

.hexagon::after {
  border-top: var(--hex-border) solid var(--color-hex-default);
  top: 100%;
  width: 0;
}

.hexagon::before {
  border-bottom: var(--hex-border) solid var(--color-hex-default);
  bottom: 100%;
}

.hexagon:hover {
  background-color: var(--color-hex-hover);
}

.hexagon:hover::after,
.hexagon:hover::before {
  border-top-color: var(--color-hex-hover);
  border-bottom-color: var(--color-hex-hover);
}

/*for size of 10, todo find a bedder way for using variable size*/
.hexagon:nth-child(20n + 11),
.hexagon:nth-child(20n + 12),
.hexagon:nth-child(20n + 13),
.hexagon:nth-child(20n + 14),
.hexagon:nth-child(20n + 15),
.hexagon:nth-child(20n + 16),
.hexagon:nth-child(20n + 17),
.hexagon:nth-child(20n + 18),
.hexagon:nth-child(20n + 19),
.hexagon:nth-child(20n + 20) {
  margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
}

.hexagon > svg {
  height: 75%;
  transition: var(--hex-transition);
}

/* Colors */
.color-tile-water {
  background-color: var(--color-tile-water);
}

.color-tile-water::after,
.color-tile-water::before {
  border-top-color: var(--color-tile-water);
  border-bottom-color: var(--color-tile-water);
}

.color-tile-water:hover {
  fill: var(--color-tile-water);
}

/* field */
.color-tile-filed {
  background-color: var(--color-tile-filed);
}

.color-tile-filed::after,
.color-tile-filed::before {
  border-top-color: var(--color-tile-filed);
  border-bottom-color: var(--color-tile-filed);
}

.color-tile-filed:hover {
  fill: var(--color-tile-filed);
}

/* mud */
.color-tile-mud {
  background-color: var(--color-tile-mud);
}

.color-tile-mud::after,
.color-tile-mud::before {
  border-top-color: var(--color-tile-mud);
  border-bottom-color: var(--color-tile-mud);
}

.color-tile-mud:hover {
  fill: var(--color-tile-mud);
}

/* wood */
.color-tile-wood {
  background-color: var(--color-tile-wood);
}

.color-tile-wood::after,
.color-tile-wood::before {
  border-top-color: var(--color-tile-wood);
  border-bottom-color: var(--color-tile-wood);
}

.color-tile-wood:hover {
  fill: var(--color-tile-wood);
}

/* sand */
.color-tile-sand {
  background-color: var(--color-tile-sand);
}

.color-tile-sand::after,
.color-tile-sand::before {
  border-top-color: var(--color-tile-sand);
  border-bottom-color: var(--color-tile-sand);
}

.color-tile-sand:hover {
  fill: var(--color-tile-sand);
}

/* mountain */
.color-tile-mountain {
  background-color: var(--color-tile-mountain);
}

.color-tile-mountain::after,
.color-tile-mountain::before {
  border-top-color: var(--color-tile-mountain);
  border-bottom-color: var(--color-tile-mountain);
}

.color-tile-mountain:hover {
  fill: var(--color-tile-mountain);
}
